<div class="container">
  <div class="row">
    <div *ngFor="let todo of todoService.getTodos()">
      <todo-item [todo]="todo" (updateLabelEvent)="updateTodo($event)">
      </todo-item>
    </div>
  </div>

  <form #f="ngForm" [formGroup]="form">
    Label
    <input type="text" formControlName="label" /><br />
    City
    <input
      type="text"
      name="search-box"
      class="search-box"
      formControlName="city"
      [(ngModel)]="form.city"
      (keyup)="searchCity($event)"
    />
    <section class="search-results">
      <ng-template ngFor let-result [ngForOf]="cities" let-i="index">
        <div (click)="autoCompleteCity(result)">
          <hr *ngIf="i > 0" />
          <p>{{ result }}</p>
        </div>
      </ng-template>
    </section>
  </form>
  <!-- <p>Form value: {{ f.value | json }}</p> -->

  <!--  <input
    type="text"
    name="search-box"
    class="search-box"
    (keyup)="searchCity($event)"
  />
  <section class="search-results">
    <ng-template ngFor let-result [ngForOf]="cities" let-i="index">
      <hr *ngIf="i > 0" />
      <p>{{ result }}</p>
    </ng-template>
  </section> -->

  <div>
    <button
      class="btn waves-effect waves-light"
      type="submit"
      name="action"
      (click)="addTodo()"
    >
      Submit
      <i class="material-icons right">send</i>
    </button>
  </div>
</div>
